.mt-header {
	height: 36px;
	background: red;
	padding: 12px 85px;
	border: 1px;
}
.tabs {
	position: relative;
	bottom: -2px;
}
.tabs-mod {
	display: inline-block;
	position: relative;
	border-bottom: 2px solid;
	cursor: pointer;
	margin-right: 1px\0;
}
.nav-mod {
	display: inline-block;
	line-height: 1;
	padding: 0 20px 12px 40px;
	font-size: 25px;
}
.mod-text {
	font-weight: 700;
	font-family: Microsoft YaHei;
}
.mod-text2 {
	background-color: #e8e8e8;
	width: 1px;
	height: 14px;
	top: 2px;
	right: 0;
	font-size: 0;
	color: #e8e8e8;
	position: absolute;

}
.mylist {
	height: 18px;
	background: #e8e8e8;
	padding: 10px 85px;
	border: 1px;
}
.tablist {
	position: relative;
	bottom: -2px;
}
.tablist-mod {
	display: inline-block;
	position: relative;
	border-bottom: 2px solid;
	cursor: pointer;
	margin-right: 1px\0;
}
.navlist-mod {
	display: inline-block;
	line-height: 1;
	padding: 0 65px 0px 150px;
	font-size: 21px;
}
.modlist-text {
	font-weight: 700;
	font-family: Microsoft YaHei;
}
.modlist-text2 {
	background-color: #e8e8e8;
	width: 1px;
	height: 14px;
	top: 2px;
	right: 0;
	font-size: 0;
	color: #e8e8e8;
	position: absolute;

}
.cartBox .order_content{
    border: 1px solid #ccc;
}
.cartBox .order_content a{
    display: block;
}
.order_lists{
    width: 100%;
    height: 130px;
    border-bottom: 1px solid #e7e7e7;
}
.order_lists:last-child{
    border-bottom: none;
}
.order_lists li{
    float: left;
    height: 100%;
}

.order_lists .list_chk{
    position: relative;
    width: 50px;
}
.order_lists .list_chk input[type="checkbox"]{
    position: absolute;
    z-index: 0;
    left: -20px;
    top: -20px;
}
.order_lists .list_chk label{
    margin: 20px 0 0 24px;
}

.order_lists .list_con{
    float: left;
}
.order_lists .list_con .list_img{
    width: 100px;
    height: 90px;
    margin-top: 20px;
    float: left;
}
.order_lists .list_con .list_img img{
    width: 100%;
    vertical-align: top;
    margin-left: 60px;
}
.order_lists .list_con .list_text{
    margin: 0;
    line-height: 0px;
    width: 200px;
    float: left;
}
.order_lists .list_con .list_text a{
    color: #3c3c3c;
}
.order_lists .list_con .list_text a:hover{
    color: #ff873e;
    text-decoration: underline;
}

.order_lists .list_info{
	float: left;
    width: 400px;
    box-sizing: border-box;
    padding: -1px 300px 0 0;
}
.order_lists .list_info p{

    color: #9c9c9c;
    line-height: 18px;
    margin-left: 100px;
}
.order_lists .list_price{
	float: left;
    width: 130px;
}
.order_lists .list_price .price{
	float: left;
    margin-top: 20px;
    line-height: 18px;
    font-family: Verdana,Tahoma,arial;
    color: #3c3c3c;
    font-weight: bold;
}
.order_lists .list_amount{
	float: left;
    width:290px;
}
.order_lists .list_amount .amount_box{
	float: left;
    margin-top: 20px;
    width: 77px;
    height: 25px;
    position: relative;
}
.order_lists .list_amount .amount_box input{
    width: 39px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #aaa;
    color: #343434;
    text-align: center;
    padding: 4px 0;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    left: 18px;
    float: left;
}
.order_lists .list_amount .amount_box a{
    float: left;
    height: 23px;
    width: 17px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 23px;
    color: #444;
    position: absolute;
    top:0;
}
.order_lists .list_amount .amount_box a:hover{
    border-color: #ff873e;
    text-decoration: none;
    color: #ff873e;
    z-index: 3;
}

.order_lists .list_amount .amount_box .reduce{
    left: 0;
}

.order_lists .list_amount .amount_box .reSty{
    color: #cbcbcb;
}
.order_lists .list_amount .amount_box .reSty:hover{
    border-right: none;
    border-color: #e5e5e5;
    text-decoration: none;
    color: #cbcbcb;
}

.order_lists .list_amount .amount_box .plus{
    border-left-color: transparent;
    right: 0;
}


.order_lists .list_sum{
	float: left;
    width: 270px;
}
.order_lists .list_sum .sum_price{
	float: left;
    line-height: 18px;
    margin-top: 20px;
    font-family: Verdana,Tahoma,arial;
    color: #ff0000;
    font-weight: bold;
}
.order_lists .list_op{
	float: left;
    width: 164px;
}
.order_lists .list_op .del{
	float: left;
    margin-top: 20px;
    line-height: 18px;
}