

.header .search {
    border: 2px solid #dd182b;
}


.search a{
    padding: 4px 39px 11px 40px;
    border: 0;
    outline: 0;
    background: #dd182b;
    color: #fff;
}
.box{
    float:left;
    width:20.5%;
    margin-right:10.6%;
}
.box1{
    float:left;
    width:20.5%;
}
.col_1_of_3{
    display: block;
    float:left;
    margin: 1% 0 1% 2.6%;
    box-shadow:0 0 5px #aaa;
    -webkit-box-shadow:0 0 5px #aaa;
    -moz-box-shadow:0 0 5px #aaa;
    -o-box-shadow:0 0 5px #aaa;
}
.col_1_of_3:first-child { animation: 0; }
.price{
    padding:10px 0 0 0;
}
.inner_content {
    padding:10px;
    position: relative;
}
.product_image {

}
.product_image img{
    display:block;
    border:1px solid #f0f0f0;
}
.cart-left{
    width:73.5%;
    float: left;
    margin-right: 2.6%;
}
