<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>阿里大药房</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    
    <script type="text/javascript" src="js/zty/vue.js"></script>
    <script type="text/javascript" src="js/zty/COOKIE.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/zty/sortJump.js"></script>

</head>
<body>
<div class="top-nav">
    <div class="container">
        <div class="fl">
            <a href="#" class="item">首页</a>
        </div>
        <div class="fr">
            <a href="#" class="item">我的订单</a>
            <a href="#" class="item">收藏夹</a>
            <a href="#" class="item">登录</a>
            <a href="#" class="item">注册</a>
            <a href="#" class="item">客户服务</a>
        </div>
    </div>
</div>
<div class="header clearf">
    <div class="container">
        <div class="logo col-2">
            <img src="image/logo.jpg" height="50" width="249"/>
        </div>
        <div class="search-bar col-5">
                <input type="search" class="col-8" placeholder="搜索">
            <a href="javascript:;">搜索</a>
        </div>
        <div class="cart">
            <div class="trigger">
                <a href="cart.html">我的购物车</a>
            </div>
        </div>
    </div>
</div>
<div class="main-promote clearf">
    <div class="container">


        <!--  分类目录  -->
        <div class="col-2 cat" id="sort" >
            
            <div v-for="(per,index) in row">
                <div class="row"><a class="sortJump" vdata-url="nav" style="color: white;" data-key="" :href="'javascript:jumpSort('+per.id+');'">{{per.name}}</a></div>
            </div>
            
        </div>



        <div class="col-6">
                <div class="slider">
                    <div>
                        <img src="image/slider_01.png" alt="">
                    </div>
                    <div>
                        <img src="image/slider_02.png" alt="">
                    </div>
                    <div>
                        <img src="image/slider_03.png" alt="">
                    </div>
                </div>

           
                <div class="col-5">
                    <img src="image/0001.png" alt="">
                </div>
                <div class="col-5">
                    <img src="image/0002.png" alt="">

            </div>
        </div>
        <div class="col-2 sub-promote">
            <div>
                <div class="clearf">
                    <span class="avatar"></span>
                    欢迎来到阿里药房
                </div>
                <div class="auth">
                    <button>登录</button>
                    <button>注册</button>
                </div>
            </div>
            <div class="anno">
                <div class="title">公告</div>
                <div class="content">
                    广告语  打广告  公告 广告语
                    广告  广告  广告 广告 广告语  打广告  公告 广告  广告  广告 广告
                    公告  广告 广告语  打广告  公告
                    广告  广告  广告 广告 广告语  打广告  公告 广告  广告  广告 广告
                    公告  广告 广告语  打广告  公告
                    广告  广告  广告 广告   广告  广告  广告 广告 广告语  打广告  公告
                    公告  广告 广告语  打广告  公告
                    广告  广告  广告 广告 广告  广告  广告 广告 广告语  打广告  公告
                    公告  广告 广告语  打广告  公告
                    广告  广告  广告 广告 广告  广告  广告 广告 广告语  打广告  公告
                    公告  广告 广告语  打广告  公告
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- 效果：
        1. 图片
        2. 名称
        3. 价格
        4. 购买人数
        5. 库存 

        自动对齐-->
<div class="container" id="gbrief-list">
    <div class="promote-title">热门推荐</div>

    <div v-for="per in gbriefs">
        <div class="promote-seg col-2">
            <div class="BOX">  
                    <div class="PicBox">
                        <div class="pic-box-inner">
                            <div class="pic">
                                <a :id="'id_'+per.id" class="" data-nid="" data-recommend-nav="" :href="'./product.html?id='+per.id" target="_blank" >
                                <img :src="per.smallPic"  alt=" ">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="IconMoreNew">
                <div class="clearfix"> 
                <div class="price">
                    <span>¥</span>
                    <strong>{{per.price}}</strong>
                </div>
                <div class="deal-cnt">{{per.buy}}人付款</div>
                    </div>
                    <strong>{{per.name}}</strong>
                        <div class="row-2">
                                库存：{{per.volume}}
                        </div>
                    </div>
            </div>   
        </div>
    </div>

</div>
   
</div>
<div class="footer">
    <div class="container">
        <a href="#">联系我们</a>
        <a href="#">招聘信息</a>
        <a href="#">商家入驻</a>
        <a href="#">商家后台</a>
        <div>
            营业执照注册号：66666666666 | 网络文化经营许可证：666666666号 | 增值电信业务经营许可证：6666666666 | 安全责任书 | 北京网安备
            6666666666666号
        </div>
    </div>
</div>

</body>


    <script type="text/javascript" src="js/zty/vueObjects.js"></script>
    <script type="text/javascript" src="js/searchlist.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $.ajax({
                url:'health/sort/getList',
                type:'GET',
                dataType:'json',
                success:function(result){
                    console.log(result);
                    vueSort.row = result.data;
                },
                error:function(e){
                    console.log(e);
                }
            });
            $(".sortJump").click(function(){
                var url = './searchlist.html?'+$(this).attr('jump');
                console.log(url);
                // location.href = url;
            });
        })
    </script>

</html>